{% extends "base.html" %}
{% block meta %}
<title>Certification - {{ name }}</title>
<link rel="stylesheet" href="/static/css/certificate.css">
{% endblock meta %}
{% block content %}
    <div class="container certification-grid">
        <div class="certification-punchline">
            <p class="kicker">I spended time on these</p>
            <h2>My Certification</h2>
            <p class="empty-state" style="padding-top: 15px;">Try click the cards :v</p>
        </div>

        {% if certification_list %}
            <div class="certification-cards">
                <div class="card-columns">
                    {% for cert in certification_list %}
                        {% if forloop.counter|divisibleby:2 %}
                        {% else %}
                            
                            {% if cert.thumbnail %}
                            <div class="certification-card">
                            {% else %}
                            <div class="certification-card" style="grid-template-areas: 'header header';">
                            {% endif %}
                                <div class="card-header">
                                    <h2>{{ cert.course_name }}</h2>
                                    <p class="bio"><em>Published : in {{ cert.year_display }} by {{ cert.publisher }}</em></p>
                                </div>
                                {% if cert.thumbnail %}
                                <div class="card-thumbnail">
                                    <span class="card-image"><img src="{{ cert.thumbnail }}" alt="thumbnail" width="70"></span>
                                </div>
                                {% endif %}
                                <div class="card-action">
                                    <a href="{% url 'main:edit_cert' cert.id %}" class="button">Edit</a>
                                    {% if cert.verification_url %}
                                    <a href="{{ cert.verification_url }}" target="_blank" class="button">Verifikasi</a>
                                    {% endif %}
                                    {% include "components/cert_delete_modal.html" with cert=cert %}
                                </div>
                            </div>
                
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="card-columns">
                    {% for cert in certification_list %}
                        {% if forloop.counter|divisibleby:2 %}
                            
                            {% if cert.thumbnail %}
                            <div class="certification-card">
                            {% else %}
                            <div class="certification-card" style="grid-template-areas: 'header header';">
                            {% endif %}
                                <div class="card-header">
                                    <h2>{{ cert.course_name }}</h2>
                                    <p class="bio"><em>Published : in {{ cert.year_display }} by {{ cert.publisher }}</em></p>
                                </div>
                                {% if cert.thumbnail %}
                                <div class="card-thumbnail">
                                    <span class="card-image"><img src="{{ cert.thumbnail }}" alt="thumbnail" width="70"></span>
                                </div>
                                {% endif %}
                                <div class="card-action">
                                    <a href="{{ cert.verification_url }}" class="button">Edit</a> <!--TODO: MAKE EDIT URL-->
                                    {% if cert.verification_url %}
                                    <a href="{{ cert.verification_url }}" target="_blank" class="button">Verifikasi</a>
                                    {% endif %}
                                    {% include "components/cert_delete_modal.html" with cert=cert %}
                                </div>
                            </div>

                        {% else %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="certification-cards">
                <p class="empty-state">
                    No certifications have been added yet.
                </p>
            </div>
        {% endif %}
    </div>
{% endblock content %}